.containercic{
    background-color: var(--black--m);
    padding: 20px;
    width: 280px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.header-ic{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.regresar-ic{
    display: flex;
    justify-content: flex-end;
}

.ic-regresar{
    font-size: var(--sm);
    color: #cbd5e0;
    text-decoration: none;
}

.containercic h3{
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 20px;
}
.data-computer-ic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    font-size: var(--sm);
    box-sizing: border-box;
}

.div-p-ic{
    display: flex;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 5px;
}

.div-p-ic p{
    width: 50%;
    margin-bottom: 10px;
}

.action-btn-ic{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
}

.action-btn-ic button{
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: red;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.action-btn-ic button:nth-child(1){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

/*notification*/

.btn-notification-ic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-notification-ic button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: var(--sm);
    font-weight: 500;
    background: red;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-notification-ic button:nth-child(2){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

.parrafo-rotification-ic{
    color: #fff;
    font-size: var(--sm);
}
