.btn-new-lab{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: var(--md);
    font-weight: 500;
    background: var(--dark--gray--d);
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.container2-lab{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-top: 20px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.container2-lab::-webkit-scrollbar{
    background: transparent;
}

.card-lab{
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    scroll-snap-align: center;
    width: 200px;
    min-width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.name-lab{
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.name-lab h2{
    font-size: var(--md);
    font-weight: 700;
    color: #555;
    margin-bottom: 10px;
}

.data-lab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: var(--sm);
}

.data-lab div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-btn-lab{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 8px;
}

.action-btn-lab button{
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    border: none;
    outline: none;
    font-size: var(--sm);
    font-weight: 500;
    background: red;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.action-btn-lab button:nth-child(1){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

/*notification*/

.btn-notification-lab{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-notification-lab button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: var(--sm);
    font-weight: 500;
    background: red;
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-notification-lab button:nth-child(2){
    border: 1px solid #999;
    color: #999;
    background: #fff;
}

.parrafo-rotification-lab{
    color: #fff;
    font-size: var(--sm);
}

.not-labs{
    color: var(--text--input--field);
    background-color: var(--black--d);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}