.container-form-login{
    background-color: var(--black--m);
    padding: 30px;
    width: 280px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
}

.header-form-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.form-login{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.label-form-login{
    font-size: var(--sm);
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.form-login input{
    height: 30px;
    margin-bottom: 12px;
    background: var(--text--input--field);
    border-radius: 4px;
}


.errormessage-login{
    font-size: var(--sm);
    color: rgb(220 38 38);
    margin-top: 0;
}

.select-form-login{
    height: 35px;
    background: var(--text--input--field);
    border-radius: 4px;
    margin-bottom: 12px;
}

.btn-guardar-login{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: var(--sm);
    font-weight: 500;
    background: var(--black--l);
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-guardar-login-icon {
    animation: btn-guardar-login-icon  1s linear infinite;
}

@keyframes btn-guardar-login-icon{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}