.container-scanner{
    background-color: var(--black--m);
    padding: 30px;
    width: 280px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
    margin-top: 20px;
}

.header-scanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header-scanner h3{
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 20px;
}

.scanner-regresar{
    font-size: var(--sm);
    color: #cbd5e0;
    text-decoration: none;
    margin-bottom: 20px;
}