.container-form-search{
    background-color: var(--black--m);
    padding: 30px;
    width: 280px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 10px;
}

.form-search{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.label-form-search{
    font-size: var(--sm);
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;
}

.search-div{
    position: relative;
}

.form-search input{
    box-sizing: border-box;
    height: 36px;
    margin-bottom: 12px;
    background: var(--text--input--field);
    border-radius: 4px;
    width: 220px;
    padding-left: 5px;
}

.search-icon{
    position: absolute;
    font-size: 20px;
    top: 8px;
    right: 10px;
    color: black;
}

.btn-guardar-search{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: var(--sm);
    font-weight: 500;
    background: var(--black--l);
    color: #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.btn-guardar-search-icon {
    animation: btn-guardar-search-icon  1s linear infinite;
}

@keyframes btn-guardar-search-icon{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}